<!DOCTYPE html>
<html ng-app="listaDeNoticias">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Quadro de Notícias</title>

<link rel="stylesheet" type="text/css" href="css/estilo.css">
<link rel="stylesheet" type="text/css"	href="bootstrap/css/bootstrap.min.css">
<link rel="shortcut icon" href="imagens/opovo.png">
</head>

<body ng-controller="listaDeNoticiasCtrl" ng-init="listar()">

	<div class="jumbotron">
		<div class="container">

			<div class="row cabecalho ">
				<h5 ng-bind="app"></h5>

				<div class="col-xs-12 col-md-12  busca">
					<div class="input-group">
						<input ng-model="minhaBusca" type="text" name="busca"
							class="form-control" placeholder="Pesquisa por nome do noticia">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="table-responsive ">
					<table class="table table-striped table-bordered table-hover">
				<tr>
					<th>Título</th>
					<th>Notícia</th>
					<th>Autor</th>
					<th>Data</th>
					<th>Ações</th>
				</tr>
				<tr ng-repeat="noticia in noticias| filter:minhaBusca | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize"> 						
						
						<td> {{noticia.titulo}} </td>
						<td> {{noticia.noticia}} </td>
						<td> {{noticia.autor}} </td>
					 	<td> {{noticia.data| date: "dd/MM/yyyy"}} </td>
					 	
						<td>						
							<a href="" ng-click="editar(noticia)" data-toggle="modal" data-target="#atualizaNoticia" >  <span class="glyphicon-pencil text-warning "></span></a>
							<a href="" ng-click="deletar(noticia)" >  <span class="glyphicon glyphicon-trash text-danger"></span>	</a>
						</td>			
				</tr>
			</table>
			</div>

			<div ng-init="PaginationCtrl">
				<div class="paginacao" pagination></div>
			</div>

			<div>
				<button ng-click="novo()" class="btn btn-primary"
					data-toggle="modal" data-target="#novaNoticia">Nova Notícia</button>
			</div>

		</div>
		<!-- close container -->

		<div class="modal fade" id="novaNoticia">
			<div class="modal-dialog">
				<div class="modal-content">
					<div>
						<form>
							<div class="modal-header">
								<button type="button" data-dismiss="modal" class="close">
									<span> &times;</span>
								</button>
								<h1>Nova Notícia</h1>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="form-group col-xs-12">
										<div class="input-group">

											<label for="titulo"> Título:</label> 
											<input id="titulo" name="titulo" type="text" ng-model="noticia.titulo"
											 	   placeholder="entre com título" 
											 	   class="form-control"> <br>

											<label for="noticia"> Notícia:</label>
											<textarea rows="4" cols="50" maxlength="150" id="noticia" name="noticia" type="text" ng-model="noticia.noticia"
													placeholder="entre com a noticia " 
													class="form-control"></textarea> <br> 
													
											<label for="autor"> Autor:</label>
											<input id="autor" name="autor" type="text" ng-model="noticia.autor"
													placeholder="entre com o autor " 
													class="form-control"> <br> 
											
											<label for="data"> Data Notícia:</label> 
											
											<input id="data"	name="data" type="text" ng-model="noticia.data"
													placeholder="entre com a data" mask='39/19/9999'
													class="form-control"> <br>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" data-backdrop="static"
									data-toggle="modal" data-target="#novaNoticia"
									ng-click="salvar(noticia)">Salvar</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="atualizaNoticia">
			<div class="modal-dialog">
				<div class="modal-content">
					<div>
						<form>
							<div class="modal-header">
								<button type="button" data-dismiss="modal" class="close">
									<span> &times;</span>
								</button>
								<h1>Editar Notícia</h1>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="form-group col-xs-12">
										<div class="input-group">

										
											<label for="titulo"> Título:</label> 
											<input id="titulo" name="titulo" type="text" ng-model="noticia.titulo"
											 	   placeholder="entre com título" 
											 	   class="form-control"> <br>

											<label for="noticia"> Notícia:</label>
											<textarea rows="4" cols="50" maxlength="150"  id="noticia" name="noticia" type="text" ng-model="noticia.noticia"
													placeholder="entre com a noticia " 
													class="form-control"></textarea> <br> 
													
											<label for="autor"> Autor:</label>
											<input id="autor" name="autor" type="text" ng-model="noticia.autor"
													placeholder="entre com o autor " 
													class="form-control"> <br> 
											
											<label for="data"> Data Notícia:</label> 
											<input id="data"	name="data" type="text" ng-model="noticia.data"
													placeholder="entre com a data" mask='39/19/9999'
													class="form-control"> <br>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" data-backdrop="static"
									data-toggle="modal" data-target="#atualizaNoticia"
									ng-click="salvar(noticia)">Confirmar</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- close jumbotron -->


	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/ngMask.min.js"></script>
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/paginationDirective.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

</body>
</html>